@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;800&family=Caudex:wght@700&family=Orbitron:wght@700&display=swap");

body {
  background: linear-gradient(108.76deg, #343131 -1.39%, #1d1919 102.08%);
  font-family: "Catamaran", sans-serif;
}

body,
html {
  height: 100vh;
}

a {
  text-decoration: none;
}

.content {
  display: grid;
  grid-template-columns: 110px 1fr;
  grid-template-rows: 98px 1fr;
  height: 100%;
}

/* ---------- sidebar ---------- */
.content-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #505050;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.content-sidebar__button {
  display: block;
  width: 100%;
  height: 98px;
  background: linear-gradient(127.44deg, #505050 0%, #383838 100%);
  border: none;
  color: #fff;
  cursor: pointer;
}

.content-sidebar__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 60px;
}

.content-sidebar__item {
  margin-top: 63px;
}

.content-sidebar__item:first-child {
  margin-top: 0;
}

.content-sidebar__icon {
  display: block;
  margin: 0 auto;
  color: #fff;
}

/* ---------- header ---------- */
.content-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px 0 60px;
}

.content-header__logo {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
}

.content-header__list {
  list-style: none;
  display: flex;
  padding-left: 0;
  align-items: center;
}

.content-header__item {
  margin-left: 67px;
}
.content-header__item:first-child {
  margin-left: 0;
}

.content-header__link {
  color: #fff;
  font-size: 17px;
  position: relative;
}
.content-header__link::after {
  content: "";
  width: 22px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
  bottom: -10px;
  opacity: 0;
  transition: 0.2s;
}

.content-header__link.active {
  font-weight: 800;
}
.content-header__link.active::after,
.content-header__link:hover::after {
  opacity: 1;
}

.content-header__link.wallet {
  font-size: 22px;
}

/* ---------- main ---------- */
.content-main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: #fff;
}

/* ---------- swiper-classes ---------- */
.swiper {
  height: calc(100vh - 98px);
  display: flex;
}

.swiper-wrapper {
  position: static;
}

.swiper-slide {
  position: inherit;
}

.swiper-slide__image {
  position: absolute;
  left: 10%;
  width: 50%;
  bottom: 0;
  z-index: -1;
}

/* ---------- swiper-body ---------- */
.swiper-body {
  margin-left: 50%;
  margin-right: 70px;
}

.swiper-body__title {
  font-family: "Caudex", serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
}

.swiper-body__title span {
  position: relative;
}
.swiper-body__title span::before,
.swiper-body__title span::after {
  content: "3D printed";
  position: absolute;
  width: 100%;
  z-index: -1;
}

.swiper-body__title span::before {
  top: 0;
  left: -2px;
  color: #fb258b;
}
.swiper-body__title span::after {
  bottom: -2px;
  left: 5px;
  color: #5025fb;
}

.swiper-body__desc {
  font-size: 20px;
  line-height: 1.3;
  color: #bcbcbc;
}

/* ---------- buttons ---------- */
.swiper-body__buttons {
  display: flex;
  align-items: center;
  margin-top: 42px;
}

.swiper-body__btn {
  font-family: "Orbitron", sans-serif;
  box-shadow: 0 0 0 0 #fff;
  transition: .2s;
  position: relative;
}

.swiper-body__buy {
  font-size: 18px;
  font-weight: 700;
  color: #252525;
  background-color: #fff;
  padding: 10px 19px;
  margin-right: 30px;
}
.swiper-body__buy:hover {
  box-shadow: 0 0 0 6px #fff;
}
.swiper-body__buy::before,
.swiper-body__buy::after {
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}

.swiper-body__buy::before {
  top: -4px;
  left: -4px;
  background-color: #fb258b;
}
.swiper-body__buy::after {
  bottom: -4px;
  right: -4px;
  background-color: #5025fb;
}

.swiper-body__view {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 14px 21px;
}
.swiper-body__view:hover {
  box-shadow: 0 0 0 2px #fff;
}

.fa-eye {
  margin-right: 8px;
}

/* ---------- footer ---------- */
.swiper-footer {
  position: absolute;
  background: linear-gradient(270deg, rgba(66, 66, 66, 0.49) 0%, rgba(66, 66, 66, 0.4753) 76.04%, rgba(66, 66, 66, 0) 100%);
  backdrop-filter: blur(47px);
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-info {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(5, 1fr);
  gap: 5%;
  flex-basis: calc(100% - 360px);
  padding-left: 60px;
}

.swiper-info__author {
  grid-row: 1 / 2;
  grid-column: 1 / 6;
  font-family: "Caudex", serif;
  font-size: 23px;
  font-weight: 700;
}

.swiper-info__item {
  font-family: "Orbitron", sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.swiper-info__item span {
  display: block;
  font-family: "Catamaran", sans-serif;
  font-weight: 500;
  color: #bcbcbc;
  margin-top: 11px;
}

.swiper-cover {
  width: 225px;
  height: 225px;
  position: relative;
  overflow: hidden;
}

.swiper-cover__img {
  width: 225px;
  height: 225px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

/* ---------- pagination ---------- */
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: inherit;
  position: absolute;
  left: 60px;
  top: 230px;
  width: 203px;
  flex-basis: 203px;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-pagination-bullet, .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 45px 0;
}

.swiper-pagination-bullet {
  background: transparent;
  width: inherit;
  height: inherit;
  text-align: left;
  font-weight: 800;
  font-size: 26px;
}

.pagination-art {
  font-size: 17px;
  font-weight: 600;
  display: block;
  margin-top: 10px;
}

.pagination-price {
  font-size: 13px;
  font-weight: 600;
  color: #bcbcbc;
  display: block;
}

.pagination-price span {
  font-size: 17px;
}

.swiper-pagination-bullet-active {
  background: transparent;
  font-size: 34px;
  font-weight: 800;
}

.swiper-pagination-bullet-active .pagination-art {
  font-size: 23px;
}

.swiper-pagination-bullet-active .pagination-price {
  font-size: 17px;
}

.swiper-pagination-bullet-active .pagination-art span {
  font-size: 23px;
}

/* ---------- adaptive---------- */
@media (max-height: 750px) {
  .swiper-slide__image {
    width: auto;
    height: 80vh;
  }

  .swiper-cover {
    width: 15vh;
    height: 15vh;
  }

  .swiper-cover__img {
    width: 15vh;
    height: 15vh;
  }

  .swiper-info__author {
    margin: 0;
    grid-column: 1 / 2;
    font-size: 18px;
  }

  .swiper-info {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
  }

  .swiper-info-item {
    margin: 0;
  }

  .pagination-art,
  .pagination-price {
    display: none;
  }

  .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    top: 120px;
  }
}

@media (max-height: 430px) {
  .content-sidebar__item {
    margin-top: 30px;
  }

  .content-sidebar__list {
    margin-bottom: 30px;
  }
}

@media (max-height: 300px) {
  .content-sidebar__button {
    height: 45px;
  }

  .content {
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 1fr;
    height: 100%;
  }

  .content-header__logo {
    font-size: 24px;
  }

  .content-header__link {
    font-size: 15px;
  }

  .content-header__link::after {
    bottom: -5px;
  }
}

@media (max-width: 1200px) {
  .swiper-cover,
  .swiper-cover__img {
    width: 18vw;
    height: 18vw;
  }

  .swiper-info {
    flex-basis: calc(100% - 26vw);
  }

  .swiper-footer {
    gap: 8vw;
  }
}