@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;800&family=Caudex:wght@700&family=Orbitron:wght@700&display=swap");

body {
  background: linear-gradient(108.76deg, #343131 -1.39%, #1d1919 102.08%);
  font-family: "Catamaran", sans-serif;
}

body,
html {
  height: 100vh;
}

a {
  text-decoration: none;
}

.content {
  display: grid;
  grid-template-columns: 110px 1fr;
  grid-template-rows: 98px 1fr;
  height: 100%;
  /* gap: 60px; */
}

/* ---------- sidebar ---------- */
.content-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #505050;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.content-sidebar__button {
  display: block;
  width: 100%;
  height: 98px;
  background: linear-gradient(127.44deg, #505050 0%, #383838 100%);
  border: none;
  color: #fff;
  cursor: pointer;
}

.content-sidebar__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 60px;
}

.content-sidebar__item {
  margin-top: 63px;
}

.content-sidebar__icon {
  display: block;
  margin: 0 auto;
  color: #fff;
}

/* ---------- header ---------- */
.content-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px 0 60px;
}

.content-header__logo {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
}

.content-header__list {
  list-style: none;
  display: flex;
  padding-left: 0;
  align-items: center;
}

.content-header__item {
  margin-left: 67px;
}
.content-header__item:first-child {
  margin-left: 0;
}

.content-header__link {
  color: #fff;
  font-size: 17px;
  position: relative;
}
.content-header__link::after {
  content: "";
  width: 22px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
  bottom: -10px;
  opacity: 0;
  transition: 0.2s;
}

.content-header__link.active {
  font-weight: 800;
}
.content-header__link.active::after,
.content-header__link:hover::after {
  opacity: 1;
}

.content-header__link.wallet {
  font-size: 22px;
}

/* ---------- main ---------- */
.content-main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: #fff;
}

/* ---------- swiper ---------- */
.swiper {
  height: calc(100vh - 98px);
  display: flex;
}

.swiper-wrapper {
  position: static;
  /*flex-basis: 500px;*/
}

.swiper-slide {
  position: inherit;
}

.swiper-body {
  margin-left: 50%;
}

.swiper-footer {
  position: absolute;
  background: linear-gradient(270deg, rgba(66, 66, 66, 0.49) 0%, rgba(66, 66, 66, 0.4753) 76.04%, rgba(66, 66, 66, 0) 100%);
  backdrop-filter: blur(47px);
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.swiper-cover {
  width: 225px;
  height: 225px;
  position: relative;
  overflow: hidden;
}

.swiper-cover__img {
  width: 225px;
  height: 225px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: inherit;
  position: absolute;
  left: 60px;
  top: 230px;
  width: 203px;
  flex-basis: 203px;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-pagination-bullet, .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 45px 0;
}

.swiper-pagination-bullet {
  background: transparent;
  width: inherit;
  height: inherit;
  text-align: left;
  font-size: 34px;
  font-weight: 800;
}

.pagination-art {
  font-size: 23px;
  font-weight: 600;
  display: block;
}

.pagination-price {
  font-size: 17px;
  font-weight: 600;
  color: #bcbcbc;
  display: block;
}

.pagination-price span {
  font-size: 23px;
}

.swiper-pagination-bullet-active {
  background: transparent;
}
