body {
    background: linear-gradient(108.76deg, #343131 -1.39%, #1D1919 102.08%);
}

body,
html {
    height: 100vh;
}

.content {
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-rows: 98px 1fr;
    height: 100%;
}

/* ---------- sidebar ---------- */
.content-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #505050;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.content-sidebar__button {
    display: block;
    width: 100%;
    height: 98px;
    background: linear-gradient(127.44deg, #505050 0%, #383838 100%);
    border: none;
    color: #fff;
    cursor: pointer;
}

.content-sidebar__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 60px;
}

.content-sidebar__item {
    margin-top: 63px;
}

.content-sidebar__icon {
    display: block;
    margin: 0 auto;
    color: #fff;
}

.content-header {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.content-main {
    grid-column: 2 / 3;
    grid-row: 2 / 3
}

